// List of the most common scales //

$golden-ratio:      1.618; 
$perfect-fifth:     1.5;
$augumented-fourth: 1.414; 
$perfect-fourth:    1.333; 
$major-third:       1.25;  
$minor-third:       1.2;   
$major-second:      1.125; 
$minor-second:      1.067;
 
/////////////////////////////////////////////////////////
// Choose your scale here 
/////////////////////////////////////////////////////////

$scale: $golden-ratio;

////////////////////////////////////////////////////////
// Optional custom values 
///////////////////////////////////////////////////////

// base font for mobile //
$mobile-font: 16px;

// large font for laptops and up (screen > 992px) //
$laptop-font: 18px;

// extra large font for desktops and up (screen > 1600px) //
$desktop-font: 20px;

// Line height for body (p) //
$body-line-height: $scale;

// Line height for headings (h1-h6) //
$headings-line-height: 1;  

// Characters per line //
$cls: 21;

// Characters per line for landscape phones (screen > 576px) //
$clm: 34;

// Characters per line for tablets and up (screen > 768px) //
$cll: 55;

//////////////////
//  Functions   //
/////////////////

// _decimal.scss | MIT License | gist.github.com/terkel/4373420 //
@function round($number, $digits: 0) { $n: 1; @for $i from 1 through $digits { $n: $n * 10; } @return ceil($number * $n) / $n; }
// _decimal.scss end //

// calculate the html font-size in percentage //
@function rootFont($x) {
    @return ($x / 16px) * 100%;
}

// fail-safe line-height
@if $body-line-height == $scale {
    @if $body-line-height <= 1.4 {
        $body-line-height: 1.4;
    }    
}

// Scale Generator //
$base-scale-font: 1rem;
$scale-step: 1rem;
@for $i from 1 to 6 {
  $step: round($base-scale-font * $scale, 3);
  $base-scale-font: $step;
  $scale-step: append($scale-step, $step);
}

///////////////////
//  css output  //
///////////////// 

html { font-size: rootFont($mobile-font); }         

body {
    font-size: nth($scale-step, 1);
    line-height: $body-line-height;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", 
                "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", 
                "Helvetica Neue", Arial, sans-serif; 
    background: whitesmoke;
    color: #383838;
    margin: 0;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    line-height: $headings-line-height;
    word-break: break-word;     
}

h1 { font-size: nth($scale-step, 5); }
h2 { font-size: nth($scale-step, 4); }
h3 { font-size: nth($scale-step, 3); }
h4 { font-size: nth($scale-step, 2); }
h5 { font-size: nth($scale-step, 1); }

main {
    margin: auto;
    padding: 15px;
}

section { background-color: #E8E8E8; }

article {
    max-width: round($cls / 1.8333 + 0rem, 3); 
    margin: auto;
    text-align: justify;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

footer { background: silver; }

// Responsives //

// landscape phones and up //
@media (min-width: 576px) { 
    article { max-width: round($clm / 1.8333 + 0rem, 3); } 
}

// tablets and up //
@media (min-width: 768px) {
    article { max-width: round($cll / 1.8333 + 0rem, 3); }     
}

// laptops and up //
@media (min-width: 992px) { 
    html { font-size: rootFont($laptop-font); }
    
    h1 { font-size: nth($scale-step, 6); }
    h2 { font-size: nth($scale-step, 5); }
    h3 { font-size: nth($scale-step, 4); }
    h4 { font-size: nth($scale-step, 3); }
    h5 { font-size: nth($scale-step, 2); }
    h6 { font-size: nth($scale-step, 1); }
}

// desktops and up //
@media (min-width: 1600px) {
    html { font-size: rootFont($desktop-font); }
} 
/*
 * With these classes is possible to set padding and margin  
 * using spacing units based on the scale "steps" 
 */
// Generate Classes for setting padding and margin on the fly //
$sides: (all, y, x, top, right, bottom, left);
@each $side in $sides {
    $i: 1;
    @for $i from 1 through 5 {
        $val: nth($scale-step, $i);
        @if $side == "all" {
            .p-#{$i} { padding: $val; }
            .m-#{$i} { margin: $val; }
        } 
        @else if $side == "y" {
            .p#{$side}-#{$i} { 
                padding-top: $val; 
                padding-bottom: $val;
            }
            .m#{$side}-#{$i} { 
                margin-top: $val; 
                margin-bottom: $val;
            }
        } 
        @else if $side == "x" {
            .p#{$side}-#{$i} { 
                padding-left: $val; 
                padding-right: $val;
            }
            .m#{$side}-#{$i} { 
                margin-left: $val; 
                margin-right: $val;
            }                        
        } 
        @else {
            $short: (str-slice($side, 1, 1));
            .p#{$short}-#{$i} { padding-#{$side}: $val; }
            .m#{$short}-#{$i} { margin-#{$side}: $val; }
        }
        $i: $i +1;
    }
}
