html {
  font-size: 100%;
}

body {
  font-size: 1rem;
  line-height: 1.618;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
  background: whitesmoke;
  color: #383838;
  margin: 0;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  word-break: break-word;
}

h1 {
  font-size: 6.854rem;
}

h2 {
  font-size: 4.236rem;
}

h3 {
  font-size: 2.618rem;
}

h4 {
  font-size: 1.618rem;
}

h5 {
  font-size: 1rem;
}

main {
  margin: auto;
  padding: 15px;
}

section {
  background-color: #E8E8E8;
}

article {
  max-width: 11.455rem;
  margin: auto;
  text-align: justify;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

footer {
  background: silver;
}

@media (min-width: 576px) {
  article {
    max-width: 18.546rem;
  }
}
@media (min-width: 768px) {
  article {
    max-width: 30.001rem;
  }
}
@media (min-width: 992px) {
  html {
    font-size: 112.5%;
  }

  h1 {
    font-size: 11.09rem;
  }

  h2 {
    font-size: 6.854rem;
  }

  h3 {
    font-size: 4.236rem;
  }

  h4 {
    font-size: 2.618rem;
  }

  h5 {
    font-size: 1.618rem;
  }

  h6 {
    font-size: 1rem;
  }
}
@media (min-width: 1600px) {
  html {
    font-size: 125%;
  }
}
/*
 * With these classes is possible to set padding and margin  
 * using spacing units based on the scale "steps" 
 */
.p-1 {
  padding: 1rem;
}

.m-1 {
  margin: 1rem;
}

.p-2 {
  padding: 1.618rem;
}

.m-2 {
  margin: 1.618rem;
}

.p-3 {
  padding: 2.618rem;
}

.m-3 {
  margin: 2.618rem;
}

.p-4 {
  padding: 4.236rem;
}

.m-4 {
  margin: 4.236rem;
}

.p-5 {
  padding: 6.854rem;
}

.m-5 {
  margin: 6.854rem;
}

.py-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.my-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.py-2 {
  padding-top: 1.618rem;
  padding-bottom: 1.618rem;
}

.my-2 {
  margin-top: 1.618rem;
  margin-bottom: 1.618rem;
}

.py-3 {
  padding-top: 2.618rem;
  padding-bottom: 2.618rem;
}

.my-3 {
  margin-top: 2.618rem;
  margin-bottom: 2.618rem;
}

.py-4 {
  padding-top: 4.236rem;
  padding-bottom: 4.236rem;
}

.my-4 {
  margin-top: 4.236rem;
  margin-bottom: 4.236rem;
}

.py-5 {
  padding-top: 6.854rem;
  padding-bottom: 6.854rem;
}

.my-5 {
  margin-top: 6.854rem;
  margin-bottom: 6.854rem;
}

.px-1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.mx-1 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.px-2 {
  padding-left: 1.618rem;
  padding-right: 1.618rem;
}

.mx-2 {
  margin-left: 1.618rem;
  margin-right: 1.618rem;
}

.px-3 {
  padding-left: 2.618rem;
  padding-right: 2.618rem;
}

.mx-3 {
  margin-left: 2.618rem;
  margin-right: 2.618rem;
}

.px-4 {
  padding-left: 4.236rem;
  padding-right: 4.236rem;
}

.mx-4 {
  margin-left: 4.236rem;
  margin-right: 4.236rem;
}

.px-5 {
  padding-left: 6.854rem;
  padding-right: 6.854rem;
}

.mx-5 {
  margin-left: 6.854rem;
  margin-right: 6.854rem;
}

.pt-1 {
  padding-top: 1rem;
}

.mt-1 {
  margin-top: 1rem;
}

.pt-2 {
  padding-top: 1.618rem;
}

.mt-2 {
  margin-top: 1.618rem;
}

.pt-3 {
  padding-top: 2.618rem;
}

.mt-3 {
  margin-top: 2.618rem;
}

.pt-4 {
  padding-top: 4.236rem;
}

.mt-4 {
  margin-top: 4.236rem;
}

.pt-5 {
  padding-top: 6.854rem;
}

.mt-5 {
  margin-top: 6.854rem;
}

.pr-1 {
  padding-right: 1rem;
}

.mr-1 {
  margin-right: 1rem;
}

.pr-2 {
  padding-right: 1.618rem;
}

.mr-2 {
  margin-right: 1.618rem;
}

.pr-3 {
  padding-right: 2.618rem;
}

.mr-3 {
  margin-right: 2.618rem;
}

.pr-4 {
  padding-right: 4.236rem;
}

.mr-4 {
  margin-right: 4.236rem;
}

.pr-5 {
  padding-right: 6.854rem;
}

.mr-5 {
  margin-right: 6.854rem;
}

.pb-1 {
  padding-bottom: 1rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.pb-2 {
  padding-bottom: 1.618rem;
}

.mb-2 {
  margin-bottom: 1.618rem;
}

.pb-3 {
  padding-bottom: 2.618rem;
}

.mb-3 {
  margin-bottom: 2.618rem;
}

.pb-4 {
  padding-bottom: 4.236rem;
}

.mb-4 {
  margin-bottom: 4.236rem;
}

.pb-5 {
  padding-bottom: 6.854rem;
}

.mb-5 {
  margin-bottom: 6.854rem;
}

.pl-1 {
  padding-left: 1rem;
}

.ml-1 {
  margin-left: 1rem;
}

.pl-2 {
  padding-left: 1.618rem;
}

.ml-2 {
  margin-left: 1.618rem;
}

.pl-3 {
  padding-left: 2.618rem;
}

.ml-3 {
  margin-left: 2.618rem;
}

.pl-4 {
  padding-left: 4.236rem;
}

.ml-4 {
  margin-left: 4.236rem;
}

.pl-5 {
  padding-left: 6.854rem;
}

.ml-5 {
  margin-left: 6.854rem;
}

/*# sourceMappingURL=style.css.map */
